log/**/*
tmp/**/*
.DS_Store
doc/api
doc/app
config/database.yml
config/google_maps_api_key
public/avatars/**/*
public/logos/**/*
public/photos/**/*
test/**/*
nbproject/**/*
*.swp
tmp/tags
*.sql.gz
lib/tasks/email_dump/*
.idea
tmp
