<p>Dear <b><%= @user.first_name %></b>,</p>

<p>
  This is to notify you that your account has now expired.
</p>

<p>
  To renew, login to <%= link_to_site %> and go to your <b>My Account</b> page.
</p>

