<p>Check out the <%= link_to_site(t('site_name')) %> web site.</p>
<p>
  Shop the Block is Toronto's only exclusive discount card designed to
  help savvy shoppers save money while supporting independent businesses
  in their neighbourhood.
</p>
<p><b><%= @referrer_name %></b> thinks you might be interested
in this site and has referred you to Shop the Block.</p>
<p>Visit <%= link_to_site %> today and start shopping locally and
saving endlessly!</p>
