<!--
==============================================================================
TERMS AND CONDITIONS
==============================================================================
-->
<tr>
  <th colspan="2">Terms and Conditions</th>
</tr>
<tr>
  <td colspan="2">
    <div class="legal_agreement value">
      <%= load_legal_agreement %>
    </div>
    
    <div class="value">
      <%= check_box_tag('accepted_agreement') %> I accept the terms and conditions
    </div>
  </td>
</tr>
