<h1>Forgot Your Password?</h1>

<% form_tag(forgot_password_path) do %>

<p>
  Please enter your email address. You will be sent an email with a link
  to reset your password.
</p>

<table>
  <tr>
    <td class="label">Email:</td>
    <td class="value"><%= text_field_tag('email', nil, :size=>40)  %></td>
  </tr>
</table>

<div>
  <%= submit_tags(:cancel_url => login_path) %>
</div>

<% end %>
