<h1>Renewal Complete</h1>

<p>
  Your renewal has been complete!  
</p>

<p>Print your temporary Shop the Block card now and start saving immediately. Happy Shopping!</p>

<%= render :partial => 'temp_card' 


 %>

<p>
  <%= link_to "Login", :login %>
</p>

