<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div id ="allstores_list">
<ul>
  <%- @merchants.each do |merc| -%>
    <li><%= link_to merc.name, merc %> </li>
  <%- end %>
</ul>
</div>