<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<table style="width:100%">
  <tr>
    <td class="welcome_message">
      <%= render :partial => 'search' %>
    </td>
  </tr>

  <tr>
    <td>
     <% create_map('map', @location) %>
     <% add_map_marker(@location, 'you_marker.png')  %>
   
    </td>
  </tr>

  
</table>

  
 
