<h1>About</h1>

<p>Toronto is a dynamic city full of vibrant neighbourhoods each with their own distinctive boutiques, markets and cafes. Shop the Block makes it easy and cost-effective for shoppers like you, who favour quality and friendly service, to support your favourite independent merchants.</p>
<h4>Shop the Block Benefits</h4>
<p>The Shop the Block discount card gives you preferred savings on the goods and services you buy for yourself and your family at dozens of unique stores and restaurants in your neighbourhood and around the GTA.</p>
<p>Why Shop the Block?</p>
<ul>
  <li>To save money at your favourite stores and local businesses</li>
  <li>To help you get more for less</li>
  <li>To make shopping convenient and enjoyable</li>
  <li>To provide you with the freedom to shop where you want </li>
  <li> To be able to buy everything from the exclusive to the accessible at competitive pricing, all in one place</li>
  <li>To support independent neighbourhood merchants</li>
  <li>To stay involved with your community</li>
</ul>
<p><a href="/participating_stores">See list of participating businesses</a></p>
<h1>The Woman Behind Shop the Block</h1>
<p><%= image_tag("lauren_photo.jpg", :alt => "Lauren Wise", :align=>"left", :style=>"margin: 5px 10px 10px 0") %>Lauren Wise loves her neighbourhood. Living in Toronto’s Allenby area (Eglinton and Avenue Rd) with her husband and two young children, she is surrounded by an abundance of exceptional local shops and restaurants. Being able to stroll down the block to her favourite bakery and children’s boutique, kids in tow, is what makes this area so special to her. Upon watching a few independent retailers close during these tough economic times, Lauren felt an important call to action – she wanted to help encourage shoppers back into their neighbourhood establishments, supporting their community and being rewarded for doing so! Leaving her fast-paced executive sales management career behind, Lauren devoted months to consumer research and development before launching Shop the Block in early 2009.</p>
<br clear="all"/>
<p><%= link_to "Read about Lauren’s favourite neighbourhood haunts and shopping tips in our bi-weekly e-newsletter", :news_items %>.</p>
