  <h1>Consumer Info</h1>

	<p>Shop the Block is Toronto’s only exclusive <strong>discount card</strong> designed to help savvy shoppers <strong>save money</strong> while <strong>supporting independent businesses</strong> in their neighbourhood.</p>

	<p>Sign up now to get:</p>
	
	<ul>
		<li>Discounts at the chicest boutiques in your neighbourhood</li>
		<li>Savings at specialty grocers and deals at local restaurants</li>
		<li>Reduced rates on children’s classes and entertainment</li>
		<li>Excursion itineraries to help you explore your city</li>

		<li>Information on what’s new near you through our Shop the Block bi-weekly   newsletter </li>

	</ul>	

	<h4>Shop locally. Save endlessly.</h4>
	
<!--
	<h1>Look Around</h1>-->
	<%#= render :partial => 'search' %>
		
