<h1>Contact Us</h1>
<h4>The Road to Savings…</h4>
416-938-8551<br />

  <%= email_link(:info) %><br />
  <a href="http://www.shoptheblock.ca">http://www.shoptheblock.ca</a></p>
<h4>Shop locally. Save endlessly.</h4>
<p><%= link_to "Click here", news_items_path %> to sign up for our free bi-weekly e-newsletter, Best of the Block, packed full of retail news, designer profiles and shopping trends.</p>
<p>Is there a business you’d like to see as part of Shop the Block? Please email us at <%= email_link(:info) %></p>
