<h1>Shopping News</h1>

<p>Sign up now for our bi-weekly Shop the Block newsletter, Best of the Block, full of fun finds, designer profiles, shopping trends, boutique news and special sales. Click here to subscribe for free.
</p>

<h4>Best of the Block</h4>
<p>Download the latest Shop the Block newsletter now</p>

<h4>News Alerts</h4>
<p>What’s going on in store</p>

<p>
Participating Shop the Block merchants – send us your shop news, sales and promotions to share on our website’s News Alert section. We’re also always looking for compelling content for our 
Best of the Block editorial newsletter – carrying a new line? Offering a new service? Have an amazing new product? Let us know about it at 
<%= email_link(:info) %>.
</p>
