<h1>Consumer Privacy</h1>
<p>At Shop the Block, we respect the privacy of our users and the importance of the information they entrust to us. Below summarizes the basic information policies and practices in place.</p>
<h4> Information we may collect</h4>
<p>We may collect information that can identify you (&quot;personal information&quot;), such as your name and email address, (i) when you (or other users) provide it to us when using our website or in some other manner, or (ii) from our business partners, and from other third parties. We may combine the personal information that we receive from different sources.

We also may collect other types of information in the following ways when you visit our website: </p>
<ul>
  <li>Our server logs automatically collect information, such as your IP address, your browser type and language, and the date and time of your visit, which helps us track users' movements around our site and understand trends. </li>
  <li>We may assign your computer one or more cookies which may collect information to facilitate access to our website and to personalize your online experience. </li>
  <li>We may use standard Internet tools, such web beacons, which collect information that tracks your use of our website and enables us to customize our services and advertisements.</li>
</ul>
<h4>Information others may collect</h4>
<p>We may allow third-party advertising companies or ad networks to display advertisements on our website.</p>
<ul>
  <li>We do not provide any personal information to these companies.</li>
  <li>These companies may use tracking tools, such as cookies, to collect information about computers used to view or interact with their advertisements.</li>
  <li>Some of these companies may be members of the Network Advertising Initiative, which offers consumers the ability to opt out of ad targeting by all member companies.</li>
</ul>
<p>If you post information about yourself or others, or communicate with others using our website, please note that we cannot control who reads your postings or what they do with the information you provide. We encourage you to use caution in posting personal information.</p>
<h4>How we may use information we collect</h4>
<p>We may use information to:</p>
<ul>
  <li>Fulfill your requests for products and services;</li>
  <li>Offer products and services that may be of interest to you;</li>
  <li>Customize the advertising and content that you see on our website;</li>
  <li>Facilitate use of our website;</li>
  <li>Manage your account and your preferences;</li>
  <li>Analyze use of and improve our website, products and services;</li>
  <li>Identify and protect against fraudulent transactions and other misuses of our website; and</li>
  <li>Enforce our Terms of Use.</li>
</ul>
<h4>With whom we may share information we collect</h4>
<p>We will not share your personal information with others except as indicated below, or except when we inform you in advance and give you the opportunity to opt out. We may share personal information with:</p>
<ul>
  <li>Service providers, such as credit-card payment processors, performing services on our behalf;</li>
  <li>Other businesses with which we partner or which we carefully select to offer you products, services, and promotions through our website; and</li>
  <li>Other third parties in limited circumstances, such as complying with legal requirements, preventing fraud, and protecting the safety of our users. </li>
</ul>
<p>We may share aggregated, non-personal information in any of the above situations and also with advertisers and others.</p>
<h4>Your choices</h4>
<p>You may choose:</p>
<ul>
  <li>Not to provide personal information, although that may result in your inability to obtain certain services or use certain features of our website;</li>
  <li>To stop receiving promotional emails or newsletters from us by sending an email to the contact address at the bottom of this policy or by going to My Preferences;</li>
  <li>To delete or decline cookies by changing your browser settings, although if you do so, some of the features or services of our website may not function properly;</li>
  <li>To review and update your personal information on our website, by logging into your account.</li>
</ul>
<h4>Security</h4>
<p>We take appropriate physical, electronic, and other security measures to help safeguard personal information from unauthorized access, alteration, or disclosure.</p>
<h4>Changes to our Privacy Policy</h4>
<p>We may occasionally update our Privacy Policy to reflect changes in our practices and services. If we make material changes in the way we collect, use, or share your personal information, we will notify you by sending you an email to the email address you most recently provided to us and/or by prominently posting notice of the changes on our website.</p>
<h4>How to contact us</h4>
<p>If you have any questions about this summary, our Privacy Policy, or our information practices, please contact us by email at
 <%= email_link(:info) %></p>

