<h1>Sign Up</h1>
<p>Purchase your Shop the Block card through our secure site today. Your card will be shipped to you within 24-72 hours after purchase.</p>
<p><a href="#">Check here</a> to subscribe to Best of the Block. You won’t want to miss this editorial newsletter full of fun finds, designer profiles, shopping trends, boutique news and special promotions to give you a behind the scenes look at your favourite shops. <a href="#">Click here</a> to view the latest edition.</p>