<h1>Gift Purchase Complete</h1>

<p>
  Your gift purchase for <b><%= @user.name  %></b> is complete.  The gift recipient will receive an email notification on the gift start date selected by you with instructions on how to receive their gift.
</p>

