<h1>Merchant Info</h1>
<p>You’re passionate about your business, and it thrives when your neighbourhood does. That’s where Shop the Block comes in.</p>
<p>Introducing Shop the Block – a discount card that provides consumers with endless savings and drives increased traffic to local independent businesses.</p>
<p>Becoming a participating merchant is <strong>FREE</strong> – we simply require a one-year commitment to provide our members with a modest discount each time they present their card at checkout.</p>
<p>In return you get:</p>
<p><strong>Competitive advantage</strong><br />
  Increase sales when local consumers choose to shop at your store instead of at national chains or non-participating, local merchants.<br />
   <br />
  <strong>Consumer loyalty</strong><br />
  Boost sales when consumers return to your store again and again and purchase more from you knowing they are being rewarded for their loyalty.<br />
   <br />
  <strong>Exposure</strong><br />
  Attract new consumers to your store through your free listing on our website identifying you as a participating merchant.<br />
   <br />
  <strong>Free promotion</strong><br />
Have your store, products and services featured in our editorial newsletter, which also provides the opportunity to let consumers know about special offers and business news.</p>
<p>Participation is easy – no staff training, no technical requirements. Merchants will be provided with a window sticker identifying them as a participating business as well as a tent card to be placed at the cash.</p>
<p>Email us for more information and to learn about the benefits of getting involved.</p>

<%= email_link(:admin, 'Click here to request more info', :subject => 'Merchant Info Request') %>
