<h1>New Testimonial</h1>

<% form_for(@testimonial) do |f| %>

  <%= render :partial => "form", :locals => { :f => f }  %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', url_for(:back) %>
